@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat&family=Roboto:ital,wght@1,500&display=swap');

*{
  font-family: 'Black Ops One', system-ui;
}

body {
 margin: 0;
 padding: 0;
 background:#2f3640;
 width:100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container{
  width: 350px;
  padding :20px;
  background: #ffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}
.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}
.search-icon{
  padding: 15px;
  height: 30px;
  cursor: pointer;
}
.search-icon img{
  margin-top:5px;
}